<div class="tf-section-2 pt-60 widget-box-icon">
  <div class="themesflat-container w920">
    <div class="row">
      <div class="col-md-12">
        <div class="heading-section-1">
          <h2 class="tf-title pb-16">Create you account</h2>
          <p class="pb-40">Let’s get started</p>
        </div>
      </div>
      <div class="col-12">
        <div class="widget-login">
          <form id="commentform" class="comment-form">
            <fieldset class="firstname">
              <label>Firstname *</label>
              <input
                type="text"
                id="firstname"
                placeholder="Your firstname*"
                name="firstname"
                tabindex="2"
                value=""
                aria-required="true"
                required
              />
            </fieldset>
            <fieldset class="lastname">
              <label>Lastname *</label>
              <input
                type="text"
                id="lastname"
                placeholder="Your lastname*"
                name="lastname"
                tabindex="2"
                value=""
                aria-required="true"
                required
              />
            </fieldset>
            <fieldset class="address">
              <label>Address *</label>
              <input
                type="text"
                id="address"
                placeholder="Address*"
                name="address"
                tabindex="2"
                value=""
                aria-required="true"
                required
              />
            </fieldset>
            <fieldset class="phone">
              <label>Phone Number *</label>
              <input
                type="text"
                id="phone"
                placeholder="Phone number*"
                name="phone"
                tabindex="2"
                value=""
                aria-required="true"
                required
              />
            </fieldset>
            <fieldset class="dateofbirth">
              <label>Date Of Birth *</label>
              <input
                type="date"
                id="dateofbirth"
                placeholder="Date Of Birth *"
                name="dateofbirth"
                tabindex="2"
                value=""
                aria-required="true"
                required
              />
            </fieldset>
            <fieldset class="email">
              <label>Email *</label>
              <input
                type="email"
                id="email"
                placeholder="mail@website.com"
                name="email"
                tabindex="2"
                value=""
                aria-required="true"
                required
              />
            </fieldset>
            <fieldset class="password">
              <label>Password *</label>
              <input
                class="password-input"
                type="password"
                id="password"
                placeholder="Min. 8 character"
                name="password"
                tabindex="2"
                value=""
                aria-required="true"
                required
              />
              <i class="icon-show password-addon" id="password-addon"></i>
            </fieldset>
            <fieldset class="password">
              <label>Confirm password *</label>
              <input
                class="password-input"
                type="password"
                id="password"
                placeholder="Confirm password "
                name="password"
                tabindex="2"
                value=""
                aria-required="true"
                required
              />
              <i class="icon-show password-addon" id="password-addon"></i>
              <div class="widget-category-checkbox">
                <label
                  >I agree to all Term, Privacy Polic and fees
                  <input type="checkbox" />
                  <span class="btn-checkbox"></span>
                </label>
              </div>
            </fieldset>

            <div class="btn-submit mb-30">
              <a href="#" class="tf-button style-1 h50 w-100" type="submit"
                >Sign up<i class="icon-arrow-up-right2"></i
              ></a>
            </div>
          </form>
          <div class="other">or continue</div>
          <div class="login-other">
            <a href="#" class="login-other-item">
              <img src="assets/images/google.png" alt="" />
              <span>Login with google</span>
            </a>
            <a href="#" class="login-other-item">
              <img src="assets/images/facebook.png" alt="" />
              <span>Login with facebook</span>
            </a>
            <a href="#" class="login-other-item">
              <img src="assets/images/apple.png" alt="" />
              <span>Login with apple</span>
            </a>
          </div>
          <div class="no-account">
            Already have an account?
            <a href="#" class="tf-color">Log in</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
